body {
  text-align: center;
}

#add {
  border: 0;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 35px;
  margin-left: 10px;
}

.remove {
  margin-top: 13px;
  background-color: #f2f205;
  float: right;
  clear: both;
  padding-right: 20px;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  border-style: none;
}

#wrapper {
  width: 450px;
  background-color: #FFFD74;
  margin: auto;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right:65px;
  border-radius: 25px;
}

ul {
  list-style: none;
  text-align: left;
  line-height: 35px;
}

#task {
  width: 320px;
  height: 30px;
  margin-left: 17px;
}

h1 {
  padding-top: 20px;
}
