body {
  text-align: center;
}

#add {
  border: 0;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 35px;
  margin-left: 10px;
}

.remove {
  margin-top: 13px;
  background-color: #f2f205;
  float: right;
  clear: both;
  padding-right: 20px;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  border-style: none;
}
